* {
    font-family: 'Roboto';
}

#header-image {
    width: 25%;
}

.header{
    display: flex;
    justify-content: space-evenly;
    background: #1f2937;
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
}

.intro {
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom: 45px;
    padding-left: 25px;
}

.intro-left {
    display: flex;
    flex-direction: column;
}

.intro-left-header {
    font-size: 48px;
    font-weight: 900;
}

.intro-left-paragraph {
    font-size: 18px;
}

.button {
    text-align: center;
    background-color: #3882f6;
    color: white;
    width: 100px;
    height: 50px;
    border: white solid 2px;
    border-radius: 8px;
}

.hideaway-link {
    width: 100px;
    height: 50px;
}

#intro-pizza {
    width: auto;
    padding-right: 25px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 64px;
    padding-bottom: 100px;
}

.info-item {
    max-width: 400px;
}

.info-item, img {
    width: 200px;
    height: 200px;
}

.info-image {
    border: #3882f6 8px solid;
    border-radius: 8px;
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.quote-info {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
    word-wrap: normal;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
}

.quote-name {
    display: flex;
    justify-content: right;
    color: black;
    font-weight: bold;
    font-size: 30px;
    padding-left: 500px;
}

.ad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ad-block {
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 800px;
    border-radius: 8px;
}

.ad-block-left {
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-info {
    color: white;
}

.link, ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.header, ul, a, h1, h3, p {
    color: white;
}

ul, a:hover {
    color: #04bef7;
}

li {
    margin: 8px;
}